/*
#170312 tausta
#33032F ehkä kolmas divi väri
div purple #531253
div grey #A0ACAD
optio virheeseen #97D8B2

#f8f9ff valkonen tausta
#f3ea50 keltanen 
#5f376d tumma violetti
#d4badd vaalea violetti
#f6ea51 "Keltainen pallo"
#2d1026 tausta
*/


body {
  font-family: 'Firacode', monospace;
  background-color: #2d1026;
  color: white;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

.page-width {
  width: 100%;
}

.content-width {
  width: 80%;
  margin: 0 auto;
  background-color: #33032F;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent h1 {
  text-align: center;
}


.parent a:hover {
  background-color: rgb(134, 127, 127);
  color: white;
  cursor: pointer;
}

.div1, .div2, .div3, .div4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.div1 { 
    background-color: #5f376d;
    word-wrap: normal;
    flex-direction: row;
    gap: 20px;
  }

.div2 { background-color: #d4badd; }
.div3 { 
  background-color: #5f376d; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  gap: 40px; 
}
.div4 { background-color: #A0ACAD; }

.div2 h2, .div3 h2, .div4 h2 {
  margin: 0;
  letter-spacing: 2px;
  font-weight: bold;
}

.div1 .line, .div2 .line, .div3 .line, .div4 .line,
.line {
  display: block;
  width: 150px;
  height: 2px;
  background-color: white;
  margin: 8px 0 16px 0;
}

 .div1 .line {
    width: 470px;
 }

 .div2 .line, .div3 .line {
    width: 420px;
 }
 

.div1 a, .div2 a, .div3 a, .div4 a {
  text-decoration: underline;
  color: inherit;
}

.h_img {
  width: 100%;
  height: auto;
  display: block;
  margin:0;
  padding:0
}

.img {
  width: 150px;
  height: auto;
}

.parent .text {
  line-height: 30px;
  font-size: medium;
  margin-left:20px;
  padding:5px;
  text-shadow: #0a0000 1px 1px 2px;
}

.div2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10em;
}

.div3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.div4 {
  background-color:#f8f9ff;
  color: black;
}

.div4 .line {
  background-color: black;
  width: 300px;
}

.div2 .text, .div4 .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div1 .img,.div2 .img, .div4 .img {
  width: 150px;
  height: auto;
  border-radius: 100%;
}

.div3 .line {
  width: 255px;
}

.div3 .img{
  margin-left: 5em;
}

.brand, .div1 h2 {
    font-weight: bold;
    letter-spacing: 2px;
}

.footer {
  padding: 20px;
  background:#2d1026;
  color: white;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav, .nav-header {
  background: #2d1026;
  width: 100%;
}

.nav-header section{
  padding: 2em;
}

.div4 .sponsors {
  display: flex;
  align-items: center;
}

.div4 .sponsors a {
  background-color:#f8f9ff;
}

.div4 .sponsor-wrapper {
  display: inline-block;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

.div4 .sponsor-wrapper:hover {
  transform: scale(1.1);
}

@media (min-width:768px) and (max-width:1024px) {

  .div1 .img {
    display: none;
  }

  .div2 {
    gap: 0.6em;
  }

  .div3 {
    flex-direction: column-reverse;
  }

  .div3 .img {
    margin-left: 0;
}
}

@media (max-width:768px) {
  
  .div1 .text, .div2 .text, .div3 .text, .div4 .text {
    font-size: small;
    line-height: 24px;
    padding: 5px;
  }

  .div1 .img {
    display: none;
  }

  .div2, .div3 {
    flex-direction: column;
    gap: 2em;
  }



  .div1 .line, .div2 .line , .div3 .line, .div4 .line {
    width: 80%;
  }

  .div2 .line {
    width: 100%;
  }

  .div3 .img {  
    margin-left: 0;
  }

  .nav-header section {
    padding: 1em;
  }
  
  .footer {
    font-size: small;
    padding-left:0;
    padding-right:0;
  }

  .div4 .sponsors {
    flex-direction: column;
    gap: 20px;
  }


}