/*
#170312 tausta
#33032F body
div purple #531253
div grey #A0ACAD
optio virheeseen #97D8B2
*/


body {
  font-family: 'FiraCode', monospace;
  background-color: #170312;
  color: white;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

.page-width {
  width: 100%;
}

.content-width {
  width: 80%;
  margin: 0 auto;
  background-color: #33032F;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent h1 {
  text-align: center;
}

.parent a {
  margin: 0 auto;
  background-color: rgb(221, 209, 209);
  padding: 20px;
  text-decoration: underline;
  color: rgb(68, 58, 58);
  border: 1px solid black;
  border-radius: 5px;
  font-size: smaller;
  transition: all 0.3s ease;
}

.parent a:hover {
  background-color: rgb(134, 127, 127);
  color: white;
  cursor: pointer;
}

.div2, .div3, .div4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.div1 { 
    background-color: #531253;
    width: 100%;
    height: 300px;
 }

 .div1 .text {
    margin-left:20px;
 }
 
.div2 { background-color: #A0ACAD; }
.div3 { 
  background-color: #531253; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  gap: 40px; 
}
.div4 { background-color: #A0ACAD; }

.div2 h2, .div3 h2, .div4 h2 {
  margin: 0;
  text-align: center;
}

.div1 .line, .div2 .line, .div3 .line, .div4 .line,
.line {
  display: block;
  width: 150px;
  height: 2px;
  background-color: white;
  margin: 8px 0 16px 0;
}

 .div1 .line {
    width: 470px;
 }
 

.div1 a, .div2 a, .div3 a, .div4 a {
  margin-top: 10px;
  text-decoration: underline;
  color: #444;
}

.img {
  width: 150px;
  height: auto;
  border-radius: 200px;
}

.div3 .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.div4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.div2 .text, .div4 .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div2 .img, .div4 .img {
  width: 150px;
  height: auto;
  border-radius: 200px;
}

.footer {
  padding: 20px;
  text-align: center;
  background:#170312;
  color: white;
  width: 100%;          
  margin: 0px auto 0;
  box-sizing: border-box;
}

.nav {
  background: #170312;
  padding:10px 10px 10px 0;
  width: 100%;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.nav-header a , .desktop-menu {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.desktop-menu {
    background-color: #A0ACAD20;
    border-radius: 0;
}

.nav-header a:hover, .desktop-menu:hover {
  background-color: rgb(57, 56, 56);
  cursor: pointer;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);

  text-align: center;

  transition:
    max-height 0.3s ease,
    opacity 0.25s ease,
    transform 0.25s ease;
}

.nav-list .line {
    text-align: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    width: 120px;
    position: relative;
    margin-left: 10px;
    opacity: 0.2;
}

.nav-list.open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  background-color: #A0ACAD20;
  width: 100%;
}

.nav-list li {
  color: #ffffff; 
  padding: 0.75rem 0;
  margin-left:0.75rem;
}

.nav-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
}

.nav-list a:hover {
  text-decoration: underline;
}

.burger {
  font-size: 2rem;
  border: none;
  cursor: pointer;
  background-color: #A0ACAD;
  display: none;
}

.h_img {
    width: 100%;
    height: auto;
}

@media (max-width:768px) {
    .burger {
        display: block;
    }

    .nav-list.open{
        background-color: #A0ACAD;
    }

    .nav-list {
        text-align: left;
    }

    .brand {
        font-size: smaller;
    }

    .desktop-menu {
        display: none;
    }
    .div1 h2, .div2 h2, .div3 h2, .div4 h2 {
        font-size: medium;
    }

    .div1 a, .div2 a, .div3 a, .div4 a {
        font-size: 0.7rem;
    }

    .div1 .text p {
        font-size: 0.7rem;
    }

    .div1 .line {
        width: 95%;
    }

    .div2 .line, .div3 .line, .div4 .line {
        width: 80%;
    }


}